asgiref==3.8.1
charset-normalizer==3.4.3
Django==4.2
mysql-connector-python==9.4.0
mysqlclient==2.2.7
pillow==11.3.0
PyMuPDF==1.26.4
PyPDF2==3.0.1
reportlab==4.4.3
rapidfuzz==3.9.7
sqlparse==0.5.3
tzdata==2025.2
nltk==3.9.1
pdfplumber==0.11.9
python-dotenv
whitenoise
openpyxl