<!-- Login Modal -->
<div id="authModal" class="auth-modal">
    <div class="auth-container" id="auth-container">
        <span id="closeModal" class="close-modal">&times;</span>
        <div class="form-container sign-up-container">
            <form id="signupForm" action="{% url 'signup' %}" method="POST">
            {% csrf_token %}

            <h2>Create Account</h2>

            <input type="text" id="signup-username" placeholder="Username" required />
            <input type="email" id="signup-email" placeholder="Email" required />
            <input type="password" id="signup-password" placeholder="Password" required />
            
            <div>
                <label for="role">Select Role</label>
                <select id="role" name="role" required>
                  <option value="student">Student</option>
                  <option value="admin">Admin</option>
                </select>
            </div>
            
            <button type="submit">Sign Up</button>
            <p id="signupMessage" class="error-msg"></p>
        </form>

        </div>
        <div class="form-container sign-in-container">
        <form id="loginForm" action="{% url 'login' %}" method="POST">
            {% csrf_token %}

            <h2>Login to Thesis Library</h2>

            <label for="username">Username or Email</label>
            <input type="text" id="username" name="username" placeholder="Username or Email" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" required>

            <button type="submit">Login</button>
            <p id="loginMessage" class="error-msg"></p>
        </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h2>Welcome Back!</h2>
                    <p>To keep connected, please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h2>Hello, Scholar!</h2>
                    <p>Enter your details and start your thesis journey</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>
